body {

  }

 #widget {
   width: 300px;
   background-color: #468df1;
   color: white;
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   line-height: 0.75;
   margin: 0;
   padding: 3%;
   text-align: left;
 }


  p.xl{
    font-size: 60px;
  
  }

.users {
    text-align: right;  
}

table {
    border-collapse: collapse;
  }
  
  tr.border{
    border: 0.5px solid white;
    border-left: none;
    border-right: none;

  }
a {
    color: white;
    text-decoration: none;
}
  .footer {
    margin-left: -10px;
    margin-right: -10px;
    padding: 0;  
    text-align: right;  
    border-top: 1px solid white;
  }

  .arrow {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }