body {
    background-color: #468df1;
    font-family: "Arial Nova Light",sans-serif;
    line-height: 0.75;
    font-size: 82%;
    margin: 0;
    padding: 3%;
    text-align: left;
  }
  p, h2, h3, h5 {
    color: white;
  }

  p.xl{
    font-size: 60px;
  
  }

.users {
    text-align: right;  
    color: white; 
}

table {
    border-collapse: collapse;
  }
  
  tr.border{
    border: 0.5px solid white;
    border-left: none;
    border-right: none;

  }
a {
    color: white;
    text-decoration: none;
}
  footer {
    margin: 0;
    padding: 0;  
    text-align: right;  
    border-top: 1px solid white;
  }

  .arrow {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }